{{#with place}}
  <h2>{{name}}</h2>
  <h3>{{type}}</h3>
<a href="{{id}}/edit">Edit</a>

{{/with}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGD7_VrYPlO5F-qYuZSo_KSNAjHWev2Tg&callback=initMap"></script>
